@import 'variables';

.right-content {
  margin-top: 2rem;
}
.right-content li, .right-content li a {
  margin: 1rem 0;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.right-content  .link .fas {
  font-size: 10px;
  margin-right: 10px;
}

.link a {
  transition: 0.5s;
  text-align: center;
  font-weight: bold;
}
.link:hover {
  color: $secondary-color;
}
.link.active {
  a{
    color: $secondary-color;
  }
}
